/*
This file changes the position, size, color,
behavior, etc of all elements on the web-page
where our chart is displayed. You won't need
to modify this unless you want to!

The styles listed below are mostly just to
ensure your chart looks nice and is centered
on the page.

*/

 *, html, body {
  margin:  0;
  padding: 0;
}

canvas {
  display: block;
}

#wrapper {
  width:  90%;
  margin: 2em auto 0 auto;
} 

button {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 6px 6px 12px #c5c5c5,
              -6px -6px 12px #ffffff;
 }
 
 button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5,
              inset -4px -4px 12px #ffffff;
 }



 body{
  text-align:center;
  background-size: cover;
  background-position: 50%;
  height: 100vh}

svg{
  position: absolute;
  top: 50%;
  margin-top: -60px;
  left: 50%;
  margin-left: -225px}